.main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 450px;
    margin-left: 410px;
    margin-top: 100px;
    background-color: white;
    padding: 25px;
    border-radius: 0.4rem;
}

#text-1 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

#select {
    padding: 10px;
    margin-bottom: 30px;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

#input {
    padding: 10px;
    width: 350px;
}

#btn {
    padding: 7px;
    width: 450px;
    font-size: 20px;
}

#btn1 {
    padding: 7px;
    width: 450px;
    font-size: 20px;
    margin-bottom: 30px;
}

#btn2 {
    padding: 7px;
    width: 450px;
    font-size: 20px;
    margin-bottom: 50px;
}

#h4 {
    font-weight: 400;

}

#signup-acc {
    text-decoration: none;
    color: red;
}

.fa-times {
    margin-left: 340px;
    text-decoration: none;
    color: black;
}
.fa-times:hover{
    color: red;
}
