.card {
    margin: 30px 0px 0px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 380px;
    height: 270px;
    border-radius: 0.7rem;
    text-decoration: none;
    color: black;
}

.imgc {
    height: 185px;
    background-image: url('/public/images/img1.avif');
    background-size: cover;
    border-top-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
}

.imgc1 {
    height: 185px;
    background-image: url('/public/images/img2.avif');
    background-size: cover;
    border-top-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
}

.imgc2 {
    height: 185px;
    background-image: url('/public/images/img3.avif');
    background-size: cover;
    border-top-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
}

.od {
    font-weight: 400;
    padding: 5px;
    margin-left: 8px;
}

.p {
    margin-left: 12px;
}

#collection {
    margin: 45px;
}

#col1 {
    font-weight: 400;
}

.col2 {
    font-size: 20px;
}

#all-cat {
    margin-left: 30px;
    text-decoration: none;
    color: red;
}

.fa-arrow-right {
    color: red;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    height: 350px;
    border-radius: 0.7rem;
    margin-top: 40px;
}
.imgcol1{
    background-image: url('/public/images/png2.png');
}